<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather APP offline</title>
    <style>
        body{
            background: #bbb;
        }
        .current{
            background:#cdcdcd;
            width: 50%;
            margin: 20px auto;
            border: 1px solid #eee;
            padding: 20px;
            height: 100px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
   <div class="container">
       <section>
           <div class="current">
              <h1><%- climate.current.temp %></h1>
           </div>
       </section>
       <div class="container">
        <section>
            <div class="current">
               <p>
                   <% climate.daily.forEach(function(climate) { %>
                    <p><%= climate.daily.temp.day %></p>

                 <%-  }); %>
               </p>
            </div>
        </section>
   </div> 
</body>
</html>